#List
A list is created by placing all the items(elements) inside [ ] square brackets.

Properties of List

1.It can store different data types

2.Duplicate values are allowed

3.It is mutable

4.Order is retained

5.Slicing and indexing is possible

In [ ]:
#Example of List

L1=['Peacock','parrot','sparrow','owl','crow']
print(L1)
type(L1)

['Peacock', 'parrot', 'sparrow', 'owl', 'crow']

list

In [ ]:
#lenght of List
len(L1)

5

**Indexing**

In [ ]:
L1=['Peacock','parrot','sparrow','owl','crow']
L1[0]        # to get the first element in list

'Peacock'

In [ ]:
L1[4]        # to get 'crow' as output

'crow'

**Slicing**

[start:stop:step]

 start = starting position (default value is 0)
 
stop = end position(exclusive) (default value is end position)
 

step = step size or increment size (default value is 1)

In [ ]:
L2= [10,20,30,40,'True','False',3.5,"Maths"]

L2[0:5]              # to get the first 5 values

[10, 20, 30, 40, 'True']

In [ ]:
# to get the last 2 values

L2[6:]

[3.5, 'Maths']

In [ ]:
# to get alternate values
L2[::2]

[10, 30, 'True', 3.5]

**Mutable**

In [ ]:
# To change the value in a list

L2=[10,20,30,40,'True','False',3.5,"Maths"]
L2[1]=200
print(L2)

[10, 200, 30, 40, 'True', 'False', 3.5, 'Maths']

In [ ]:
#Similarly any value can be changed based on index position

L2=[10,20,30,40,'True','False',3.5,"Maths"]
L2[5]="True"
L2

[10, 20, 30, 40, 'True', 'True', 3.5, 'Maths']

**append.(val)**

It is used to add value at the end of the list.

In [ ]:
L2=[10,20,30,40,'True','False',3.5,"Maths"]
L2.append("Python")
L2

[10, 20, 30, 40, 'True', 'False', 3.5, 'Maths', 'Python']

**Insert(pos,elemnt)**

In [ ]:
L3=[10,20,30,40,50,60]
L3.insert(2,'Apple')              # to insert "Apple" at the second index value
L3

[10, 20, 'Apple', 30, 40, 50, 60]

In [ ]:
L3=[10,20,30,40,50,60]           # to insert "false" at the second index value
L3.insert(4,"false")
L3

[10, 20, 30, 40, 'false', 50, 60]

**.extend()**

In [ ]:
list1=[1,2,3,4,5]
list2=['A','B','c','D','E']
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 'A', 'B', 'c', 'D', 'E']

**.pop(index)**

In [ ]:
list1=[1,2,3,4,5]
rem=list1.pop(0)
print(rem)
list1

1

[2, 3, 4, 5]

**Nested list**

In [ ]:
List_A=[1,2,3,[4,5,6,[7,8,9]]]
type(List_A)

list

In [ ]:
# to access elemnt 3
List_A[2]

3

In [ ]:
# to access element 7
List_A[3][3][0]

7

In [ ]:
# to acces elements 4,5,6
List_A[3][0:3]

[4, 5, 6]

**Copying the list**

In [ ]:
ListA1=[10,20,30,"python",'maths']
print(ListA1)

[10, 20, 30, 'python', 'maths']

In [ ]:
ListA2 = ListA1
print(ListA2)

[10, 20, 30, 'python', 'maths']

In [ ]:
print(ListA1)
print(ListA2)

[10, 20, 30, 'python', 'maths']
[10, 20, 30, 'python', 'maths']

In [ ]:
ListA1[0]=100                    #ListA1 ans ListA2 both are changed
print(ListA1)
print(ListA2)

[100, 20, 30, 'python', 'maths']
[100, 20, 30, 'python', 'maths']

In [ ]:
ListA3= ListA1.copy()
print(ListA1)
print(ListA3)

[100, 20, 30, 'python', 'maths']
[100, 20, 30, 'python', 'maths']

In [ ]:
ListA1[0]=500                               # Only List A1 is changed 
print(ListA1)
print(ListA3)

[500, 20, 30, 'python', 'maths']
[100, 20, 30, 'python', 'maths']