#Tuples
In python tuple is used to store multiple values in a single variable enclosed in reound brackets.

**Important properties of Tuples**

1.Can store different data type

2.Order is retained.

3.Immutable

4.Duplicate values are allowed.

5.Indexing and slicing is possible.

In [ ]:
##Example of Tuple

A=(1,2,3,3.5,"tom",True,)
type(A)

tuple

In [ ]:
# Check length of tuple
len(A)

6

In [ ]:
# Creating a tuple with one element

Tup1=("english")
type(Tup1)

str

In [ ]:
Tup2=("English",)        # Always use (,) after the value to create tuple with one element
type(Tup2)

tuple

Indexing

In [ ]:
#Indexing always start with zero
A=(1,2,3,3.5,"tom",True,)
A[0]

1

In [ ]:
A[3]

3.5

In [ ]:
A[-2]     # to get values in reverse order we use (-) sign

'tom'

In [ ]:
A[-1]

True

Slicing

In [ ]:
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

In [ ]:
# to get first 3 elements
A[:3]

(1, 2, 3)

In [ ]:
# to get the last 2 elements
A[-2:]

('tom', True)

In [ ]:
# to get alternate elements
A[::2]

(1, 3, 'tom')

Immutable

In [ ]:
#Modify tuple value
A=(1,2,3,3.5,"tom",True,)
A[0]=100

TypeError: ignored

In [ ]:
#remove
A.pop()

AttributeError: ignored

We can modify tuples by converting them in to list and then performing the fuctions.

In [ ]:
A=(1,2,3,3.5,"tom",True,)                           #Step1:Convert tuple in to list
List=list(A)
print(List)

[1, 2, 3, 3.5, 'tom', True]

In [ ]:
List[0]=100                                         #Step2:Perform the fuction
print(List)

[100, 2, 3, 3.5, 'tom', True]

In [ ]:
TupA=tuple(List)                                    #Step3:Again convert list in to tuple
print(TupA)

(100, 2, 3, 3.5, 'tom', True)

In [ ]:
## To check if particular value is prezent in tuple

TupA
print(100 in TupA)

True

In [ ]:
TupA
print(10 in TupA)

False

In [ ]:
#Joining tuples
TupA=(100, 2, 3, 3.5, 'tom', True)
TupB=(200,2,4,"false")

TupC=TupA+TupB
print(TupC)

(100, 2, 3, 3.5, 'tom', True, 200, 2, 4, 'false')

In [ ]:
# Count item
TupC.count(2)

2

In [ ]:
# To get index of an item
TupC.index(3.5)

3