**Lambda Function**

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
#Syntax: lambda arguments: expression

In [1]:
#Example 1 : Cube of a number

# normal function
def cub(num):
    return num**3

cub(5)

125

In [2]:
# Using Lambda function:
Cube=lambda num:num**3
Cube(5)

125

In [3]:
#Example 2: Adding numbers

# normal function
def add(x,y,z):
    return x + y + z

add(5,10,15)

30

In [4]:
# Using Lambda function:
add= lambda x,y,z:x+y+z
add(5,10,15)

30

**Map Function**

Map( ) function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [ ]:
" " "
syntax ---->
map(function,sequence)

it applies the function to all the elements in the sequences 

returns the map object

" " "

In [5]:
# sequence
my_nums = [1,2,3,4,5]

In [6]:
# Example 1: Square all the elements of a list using map function
Square = map (lambda x:x**2,my_nums)
print(list(Square))

[1, 4, 9, 16, 25]

In [7]:
#function: check even and odd number
def even_odd(num):
    if(num%2==0):
        return 'even'
    else:
        return 'odd'

In [8]:
list(map(even_odd,my_nums))

['odd', 'even', 'odd', 'even', 'odd']

In [9]:

# Double all numbers using map and lambda
  
numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]