**List Comprehension**

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:
""" 
Syntax

newlist = [expression for item in iterable if condition == True]

"""

In [ ]:
#Normal method:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []                  #print fruits containing "a"

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#Using list comprehension:
newlist = [x for x in fruits if 'a' in x ]
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
# To write a list with numbers 1 to 9
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# To take numbers greater than 5 from above list
newlist1=[x for x in newlist if x>5]
print(newlist1)

[6, 7, 8, 9]

In [ ]:
# to convert a string to list of characters
# normal method
x  = 'DataScience'

x_list = [] # step 1

for char in x: # step 2
    x_list.append(char) # step 3
    
print(x_list)

['D', 'a', 't', 'a', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [ ]:
#Using list comprehension:
x_list1=[char for char in x]
print(x_list1)

['D', 'a', 't', 'a', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [ ]:
# Convert Kms to meters
# 1km = 1000m
km_list = [1,2,3,4,5]

m_list = []

for i in km_list:
    m_list.append(i*1000)
    
print(m_list)

[1000, 2000, 3000, 4000, 5000]

In [ ]:
m_list = [i*1000 for i in km_list]
print(m_list)

[1000, 2000, 3000, 4000, 5000]