**For loops**

For loops are basically used to loop over a sequence.

Sequence can be anything like strings,Lists,Tuples,Dictionaries,Sets etc

In [1]:
"""
syntax

for item in seq:
    statements....
"""

'\nsyntax\n\nfor item in seq:\n    statements....\n'

In [2]:
# looping over the strings

String = "rose"

for i in String:
    print(i)

r
o
s
e

In [3]:
# Looping over list

list=[10,20,30,40,50,60]

for num in list:
   print(num)

10
20
30
40
50
60

**range(start,stop,step)**

start = starting position (default value is 0)

stop = end position(exclusive) (default value is end position)

step = step size or increment size (default value is 1)

In [4]:
#Example:

for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for i in range(10,20):
  print(i)

10
11
12
13
14
15
16
17
18
19

In [6]:
for i in range (1,20,5):
  print(i)

1
6
11
16

In [7]:
#looping in reverse order from 10 to 1

for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

**Break**

In [ ]:
# using break in for loops
for i in range(10):
    if ( i == 5):
        break
    print(i)

0
1
2
3
4

**Continue**

In [ ]:
# using continue in for loops
# Assume we dont want to print 14,15,16
for i in range(10,20):
    if(i==14 or i ==15 or i ==16):
        continue
    print(i)

10
11
12
13
17
18
19

**Pass**

 Empty code is not allowed in loops,if else conditions,functions,Classes etc.

 Pass keyword avoids error when empty code is not allowed.

In [8]:
if(8>4):
    pass

In [9]:

if(4>2):
    print("A")
else:
    pass

A

In [10]:
for i in range(10):
    pass