**Sets**

In Python sets are written with curly brackets.

**Properties:**

Can store different data types

Order is not retained

Duplicate values are not allowed

Indexing and slicing is not possible

In [ ]:
# Example of set

Set1={10,20,30,40,'python','maths'}
print(Set1)

{'python', 40, 10, 20, 'maths', 30}

In [ ]:
type(Set1)

set

In [ ]:
len(Set1)

6

**Indexing and Slicing is not allowed in sets**

In [ ]:
Set1[0]

TypeError: ignored

**Empty Set**

In [ ]:
Set2={}
type(Set2)

dict

In [ ]:
set3 = set()
type(set3)

set

**Mutability**

Once set is created we can add and remove the elements from the set, but we cannot modify the existing elements in a set

**1.To add item**

In [ ]:
Set1={10,20,30,40,50}
Set1.add(200)
print(Set1)

{40, 200, 10, 50, 20, 30}

**2. Update(list)**

It is used to add more than 1 value in a set.All the items should be passed in the form of lists

In [ ]:
Set1={10,20,30,40,50}
list=['a','b','c']
Set1.update(list)
print(Set1)

{40, 10, 'b', 50, 20, 'c', 'a', 30}

**3.copy()**

In [ ]:
Set2=Set1.copy()
Set2

{10, 20, 30, 40, 50, 'a', 'b', 'c'}

**4.To remove item**

In [ ]:
Set1

{10, 20, 30, 40, 50, 'a', 'b', 'c'}

In [ ]:
Set1.remove(10)
Set1

{20, 30, 40, 50, 'a', 'b', 'c'}

In [ ]:
Set1.remove('a')
Set1

{20, 30, 40, 50, 'b', 'c'}

In [ ]:
Set1.remove(100)                    # It will give error as 100 is not present in the set

KeyError: ignored

**5.Discard item**

It removes the specified item from the set. If specified item is not present it will not raise error

In [ ]:
Set2={1,2,3,4,5,6}
Set2.discard(4)
Set2

{1, 2, 3, 5, 6}

In [ ]:
Set2.discard(10)                          # 10 is not present in set however there is no error
Set2

{1, 2, 3, 5, 6}

**6.pop()**

In [ ]:
Set2={1,2,3,4,5,6}
Set2.pop()

1

In [ ]:
Set2.pop()

2

**7.clear()**

In [ ]:
Set2={1,2,3,4,5,6}
Set2.clear()
Set2

set()

**8.union()**

Returns a new set with all the elements from SetA and SetB

In [ ]:
SetA={'a','b','c','d'}
SetB={'c','d','e','f'}
SetC=SetA.union(SetB)
SetC

{'a', 'b', 'c', 'd', 'e', 'f'}

**9.intersection()**

Returns the common element from both the sets

In [ ]:
SetA={'a','b','c','d'}
SetB={'c','d','e','f'}
SetC=SetA.intersection(SetB)
SetC

{'c', 'd'}