###Python Variables
Variables are use to store values of different data type.

In python there is no need to declare the type of variable.

In [ ]:
#Example:
x= 10
y= "Sara"
z= 0.5

**Convention for naming variables**

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

A variable name cannot start with a number

A variable name must start with a letter or the underscore character

In [ ]:
Valid variables:

str1='apple'
STR='apple'
_str1='apple'
_str_2= 'apple'

In [ ]:
Invalid variable
2str='apple'      # starting with number
str-23='apple'    # hyphen is not allowed  
str 23='apple'    # space in between is not allowed

**Python print() Function**

In [ ]:
print("hello world")

hello world

In [ ]:
a="tom"
print(a)

tom

In [ ]:
first_name = 'Riya'
last_name = 'Sharma'

print(first_name)
print(last_name)

Riya
Sharma

In [ ]:
# You can specify the end parameter
print(first_name,end = '-')
print(last_name)

Riya-Sharma

In [ ]:
fruit = 'Apple'
print("I have an "+fruit)

I have an Apple

In [ ]:
#print format()
fruit1 = 'Apple'
fruit2 = 'Banana'
print(" I have 2 fruits, one is {} other one is {}".format(fruit1,fruit2))

 I have 2 fruits, one is Apple other one is Banana

**Python Comments**

In [ ]:
#This is a comment                '#' is used for single line comment. Python will ignore the lines starting with '#'

print('hello world')

hello world

In [ ]:
#Multi line code       """ .... """ is used to comment multiple lines of code
""" This is a multiline comment you can use single or double quotes at the start and end of the sentence"""
print("Hello There...!!")

Hello There...!!

##Input Function
Input function is use to take input form the user.

Input function takes input in string format by default.

If you are taking integer input from user then make sure to convert input into integer format

In [ ]:
num1 = input("Enter the number")
print(num1)
type(num1)

Enter the number10
10

str

In [ ]:
num2 = int(input("Enter the number"))
print(num2)
type(num2)

Enter the number5
5

int